<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Item" >
    <constructor >
      <idArg column="item_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="item_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_dec" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="prority" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="item_manager_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="item_manager_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_uploader_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="item_uploader_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_file" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, item_name, item_dec, prority, item_manager_id, item_manager_name, item_uploader_id, 
    item_uploader_name, item_file, state, create_time, last_edit_time, end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Item"  useGeneratedKeys="true" keyProperty="itemId">
    insert into project_item (item_id, item_name, item_dec, 
      prority, item_manager_id, item_manager_name, 
      item_uploader_id, item_uploader_name, item_file, 
      state, create_time, last_edit_time, 
      end_time)
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemDec,jdbcType=VARCHAR}, 
      #{prority,jdbcType=INTEGER}, #{itemManagerId,jdbcType=INTEGER}, #{itemManagerName,jdbcType=VARCHAR}, 
      #{itemUploaderId,jdbcType=INTEGER}, #{itemUploaderName,jdbcType=VARCHAR}, #{itemFile,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, now(), now(),
      #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Item" >
    insert into project_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemDec != null" >
        item_dec,
      </if>
      <if test="prority != null" >
        prority,
      </if>
      <if test="itemManagerId != null" >
        item_manager_id,
      </if>
      <if test="itemManagerName != null" >
        item_manager_name,
      </if>
      <if test="itemUploaderId != null" >
        item_uploader_id,
      </if>
      <if test="itemUploaderName != null" >
        item_uploader_name,
      </if>
      <if test="itemFile != null" >
        item_file,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDec != null" >
        #{itemDec,jdbcType=VARCHAR},
      </if>
      <if test="prority != null" >
        #{prority,jdbcType=INTEGER},
      </if>
      <if test="itemManagerId != null" >
        #{itemManagerId,jdbcType=INTEGER},
      </if>
      <if test="itemManagerName != null" >
        #{itemManagerName,jdbcType=VARCHAR},
      </if>
      <if test="itemUploaderId != null" >
        #{itemUploaderId,jdbcType=INTEGER},
      </if>
      <if test="itemUploaderName != null" >
        #{itemUploaderName,jdbcType=VARCHAR},
      </if>
      <if test="itemFile != null" >
        #{itemFile,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Item" >
    update project_item
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDec != null" >
        item_dec = #{itemDec,jdbcType=VARCHAR},
      </if>
      <if test="prority != null" >
        prority = #{prority,jdbcType=INTEGER},
      </if>
      <if test="itemManagerId != null" >
        item_manager_id = #{itemManagerId,jdbcType=INTEGER},
      </if>
      <if test="itemManagerName != null" >
        item_manager_name = #{itemManagerName,jdbcType=VARCHAR},
      </if>
      <if test="itemUploaderId != null" >
        item_uploader_id = #{itemUploaderId,jdbcType=INTEGER},
      </if>
      <if test="itemUploaderName != null" >
        item_uploader_name = #{itemUploaderName,jdbcType=VARCHAR},
      </if>
      <if test="itemFile != null" >
        item_file = #{itemFile,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>

        end_time = now(),

    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Item" >
    update project_item
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_dec = #{itemDec,jdbcType=VARCHAR},
      prority = #{prority,jdbcType=INTEGER},
      item_manager_id = #{itemManagerId,jdbcType=INTEGER},
      item_manager_name = #{itemManagerName,jdbcType=VARCHAR},
      item_uploader_id = #{itemUploaderId,jdbcType=INTEGER},
      item_uploader_name = #{itemUploaderName,jdbcType=VARCHAR},
      item_file = #{itemFile,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = now(),
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>

  <select id="selectByItemName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    from project_item
    where item_name = #{itemName}
  </select>

  <select id="select" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from project_item
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from project_item
    where item_name LIKE #{itemName}
  </select>

</mapper>