<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MaterialStockMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.MaterialStock" >
    <constructor >
      <idArg column="material_stock_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sell_stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="use_stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    material_stock_id, category_name, item_id, sell_stock, use_stock, unit_price, create_time, 
    last_edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from material_stock
    where material_stock_id = #{materialStockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from material_stock
    where material_stock_id = #{materialStockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.MaterialStock" >
    insert into material_stock (material_stock_id, category_name, item_id, 
      sell_stock, use_stock, unit_price, 
      create_time, last_edit_time)
    values (#{materialStockId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, 
      #{sellStock,jdbcType=INTEGER}, #{useStock,jdbcType=INTEGER}, #{unitPrice,jdbcType=DECIMAL}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.MaterialStock" >
    insert into material_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialStockId != null" >
        material_stock_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="sellStock != null" >
        sell_stock,
      </if>
      <if test="useStock != null" >
        use_stock,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialStockId != null" >
        #{materialStockId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="sellStock != null" >
        #{sellStock,jdbcType=INTEGER},
      </if>
      <if test="useStock != null" >
        #{useStock,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.MaterialStock" >
    update material_stock
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="sellStock != null" >
        sell_stock = #{sellStock,jdbcType=INTEGER},
      </if>
      <if test="useStock != null" >
        use_stock = #{useStock,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>

        last_edit_time = now(),

    </set>
    where material_stock_id = #{materialStockId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.pojo.MaterialStock" >
    update material_stock
    set category_name = #{categoryName,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      sell_stock = #{sellStock,jdbcType=INTEGER},
      use_stock = #{useStock,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP}
    where material_stock_id = #{materialStockId,jdbcType=INTEGER}
  </update>

  <select id="selectByCategoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from material_stock
    where category_name = #{categoryName}
  </select>

  <select id="selectByItemId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from material_stock
    where item_id = #{itemId}
  </select>
</mapper>