<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MaterialBuyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.MaterialBuyInfo" >
    <constructor >
      <idArg column="material_info_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account_info_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="offer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="material_info_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="seller_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="check_user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="last_edit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    material_info_id, category_name, item_id, user_id, account_info_id, offer_id, material_info_img, 
    seller_name, unit_price, number, total_price, state, check_user_name, create_time, 
    last_edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from material_buy_info
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from material_buy_info
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.MaterialBuyInfo" >
    insert into material_buy_info (material_info_id, category_name, item_id, 
      user_id, account_info_id, offer_id, 
      material_info_img, seller_name, unit_price, 
      number, total_price, state, 
      check_user_name, create_time, last_edit_time
      )
    values (#{materialInfoId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{accountInfoId,jdbcType=INTEGER}, #{offerId,jdbcType=INTEGER}, 
      #{materialInfoImg,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{number,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, 
      #{checkUserName,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.MaterialBuyInfo" >
    insert into material_buy_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialInfoId != null" >
        material_info_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accountInfoId != null" >
        account_info_id,
      </if>
      <if test="offerId != null" >
        offer_id,
      </if>
      <if test="materialInfoImg != null" >
        material_info_img,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="checkUserName != null" >
        check_user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialInfoId != null" >
        #{materialInfoId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountInfoId != null" >
        #{accountInfoId,jdbcType=INTEGER},
      </if>
      <if test="offerId != null" >
        #{offerId,jdbcType=INTEGER},
      </if>
      <if test="materialInfoImg != null" >
        #{materialInfoImg,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="checkUserName != null" >
        #{checkUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.MaterialBuyInfo" >
    update material_buy_info
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountInfoId != null" >
        account_info_id = #{accountInfoId,jdbcType=INTEGER},
      </if>
      <if test="offerId != null" >
        offer_id = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="materialInfoImg != null" >
        material_info_img = #{materialInfoImg,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="checkUserName != null" >
        check_user_name = #{checkUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>

        last_edit_time = now(),

    </set>
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.MaterialBuyInfo" >
    update material_buy_info
    set category_name = #{categoryName,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      account_info_id = #{accountInfoId,jdbcType=INTEGER},
      offer_id = #{offerId,jdbcType=INTEGER},
      material_info_img = #{materialInfoImg,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      state = #{state,jdbcType=INTEGER},
      check_user_name = #{checkUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP}
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </update>
</mapper>